body {background: black;
      font-family: Downtown, Serif, serif;
      color: ghostwhite; }
#lg {padding-left: 700px;
     font-family: Amarante, Serif, serif; }
#im1 {padding-left: 550px;}
#he1 {padding-left: 750px;}
#ot1 {padding-left: 300px;}
#red {color: crimson;}
#blue {color: dodgerblue;}
#h2 {padding-left: 380px;}
#rt {padding-left: 20px;}
